# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build outputs
.next/
websocket/websocket.js
dist/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
src/db/.env
websocket/.env

# IDE and editor files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Prisma
prisma/.env
prisma/migrations/

# Miscellaneous
*.lock
coverage/
*.pid
*.seed
*.key
